header{
    height: 60px;
    margin-bottom: 80px;
}

.warning{
    background-color: #2b4bca;
}

a{
    text-decoration: none !important;
    color: azure !important;
    font-size: 20px;
}

form > p > input{
    border: 2px solid #2b4bca;
    border-radius: 5px;
}

.request_list{
    margin-bottom: 80px;
}